html {
    /* 背景画像を全体に広がるように設定 */
    background-image: url(mcimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    text-align: center;
    background-color: white;
    margin-left: 740px;
    margin-right: 740px;
    margin-bottom: 100px;
    margin-top: 400px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.body h1 {
    /*font-family: 'Cherry Bomb One', cursive; */
    font-size: 60px;
    color: aqua;
    margin-bottom: 0;
    display: inline-block; /* インラインブロック要素に変更 */
}


.button {
    text-align: center;
}

.button1 {
    margin-left: 20px;
    padding: 10px 30px 10px 30px;
}
